.card {
  /* max-width: 350px; */
  border: 1px solid #eee;
  margin-bottom: 10px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  border-radius: 7px;
}
.header {
  text-align: center;
  padding: 20px;
}
.card img {
  max-width: 100%;
  object-fit: contain;
}
.description {
  padding: 10px;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.tags .vegetarian {
  color: #c0eda6;
  border: 2px solid;
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: 600;
}
/* 
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  .card {
    max-width: 500px;
  }
} */
